.DS_Store
Thumbs.db
Desktop.ini
database.py
password.py
*.py[cod]
dist
build
TestCase/capture
debug.log
*.pyc
TestCase/SSDB.pyc
TestCase/growing_new.xlsx

TestCase/filename.xlsx

TestCase/~$growing.xlsx
TestCase/~$growing_new.xlsx
TestCase/mmssms.db
